.category {
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.category_name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    word-spacing: -2%;
    font-weight: 600;
    margin-bottom: 30px;
}

.category_slice {
    min-width: 180px;
    min-height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category_logo {
    filter: drop-shadow(10px 20px 20px rgba(0, 0, 0, 0.3));
}

.category_slice span {
    margin-top: auto;
}
